@import 'variables.scss';

:root {
  --dynamic-background-color: #{$secondary};
  --dynamic-background-nav-color: #{$tertiary};
  --dynamic-title-color: #{$tertiary};
  --dynamic-button-color: #{$secondary};
  --dynamic-color: #{$quaternary};
  --dynamic-nav-color: #{$sixfold};
  --dynamic-nav-active-color: #{$fivefold};
  --dynamic-breadcrumbs-color: #{$quaternary};
  //font-size
  --title-fs: 32px;
  --link-fs: 20px;
  --post-fs: 20px;
  --breadcrumbs-fs: 18px;
  --h3-fs: 25px;

  @media (max-width: 768px) {
    --title-fs: 28px;
    --link-fs: 16px;
    --post-fs: 16px;
    --breadcrumbs-fs: 14px;
    --h3-fs: 20px;
  }

  //font-weight

  --normal-weight: 500;
  --bold-weight: 700;
  --black-weight: 900;
}

[theme='dark'] {
  --dynamic-background-color: #{$quaternary};
  --dynamic-background-nav-color: #{$sevenfold};
  --dynamic-title-color: #{$secondary};
  --dynamic-button-color: #{$tertiary};
  --dynamic-color: #{$primary};
  --dynamic-nav-color: #{$quaternary};
  --dynamic-nav-active-color: #{$fivefold};
  --dynamic-breadcrumbs-color: #{$fivefold};
}
