@import 'variables.scss';

:root {
  --dynamic-background-color: #{$secondary};
  --dynamic-title-color: #{$tertiary};
  --dynamic-button-color: #{$secondary};
  --dynamic-color: #{$quaternary};
}

[theme='dark'] {
  --dynamic-background-color: #{$quaternary};
  --dynamic-title-color: #{$secondary};
  --dynamic-button-color: #{$tertiary};
  --dynamic-color: #{$primary};
}
