.footer {
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: var(--dynamic-color);
  color: var(--dynamic-title-color);
  font-size: var(--title-fs);
  font-weight: var(--bold-weight);
  text-align: center;
}
