.main {
  margin: 0;
  padding: 0;
  background-color: var(--dynamic-background-color);
  color: var(--dynamic-title-color);
  font-size: var(--title-fs);
  font-weight: var(--bold-weight);
  text-align: center;
  flex-grow: 1;
}
