.links-container {
  background-color: var(--dynamic-background-nav-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link {
  margin-right: 20px;
  color: var(--dynamic-nav-color);
  font-size: var(--link-fs);
  text-decoration: none;
}
.active-link {
  color: var(--dynamic-nav-active-color);
  pointer-events: none;
}
.menu-links {
  display: flex;
  padding: 1rem 0 1rem 5rem;
}
